In [ ]:
---
toc: true
comments: false
layout: post
title: Practice With html Tables
type: hacks
description: Using code cells in vscode to practice running bash commands
courses: { compsci: {week: 3} }
---

In [1]:
%%html

<h2>HTML Cell Output from Jupyter</h2>

<!-- Body contains the contents of the Document -->
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>City</th>
                <th>Payroll</th>
                <th>World Series Titles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Padres</td>
                <td>San Diego</td>
                <td>$253,125,318</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Dodgers</td>
                <td>Los Angeles</td>
                <td>$253,125,318</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Giants</td>
                <td>San Fransisco</td>
                <td>$187,257,999</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Diamondbacks</td>
                <td>Arizona</td>
                <td>$117,748,440</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Rockies</td>
                <td>Colorado</td>
                <td>$169,964,638</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Yankees</td>
                <td>New York</td>
                <td>$278,534,629</td>
                <td>27</td>
            </tr>
            <tr>
                <td>Blue Jays</td>
                <td>Toronto</td>
                <td>$213,739,273</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Orioles</td>
                <td>Baltimore</td>
                <td>$71,034,917</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Rays</td>
                <td>Tampa Bay</td>
                <td>$79,191,626</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Red Sox</td>
                <td>Boston</td>
                <td>$181,384,215</td>
                <td>9</td>
            </tr>
            <tr>
                <td>Reds</td>
                <td>Cincinatti</td>
                <td>$96,667,936</td>
                <td>5</td>
            </tr>
        </tbody>
    </table>
</body>

# Notes
- I understand how to use and edit html tables in order to display information 
- I will try and figure out how to make this more complex in order to display information that updates over time